body{
    background-color: whitesmoke;
  }
  *{
      margin: 0;
      padding: 0;
      font-family: Arial, Helvetica, sans-serif;
  }
  .container{
    display: flex;
    justify-content: center;
    margin-top: 80px;
  }
  
  .login{
    border-radius: 10%;
    background-image: linear-gradient(to right,rgb(137, 137, 196), rgb(53, 104, 158));
    text-align: center;
    padding: 30px;
    margin-top: -30px;
  }
  
  .loginUS{
    margin-bottom: 1px;
    font-weight: bold;
    padding: 10px;
    margin-left: 30px;
    font-size: 12pt;
   
  }
  .loginS{
    margin-bottom: 1px;
    font-weight: bold;
    padding: 10px;
    margin-left: 13px;
    font-size: 12pt;
  }
  
  header{
    text-align:center;
    margin-top: 80px;
    font-size: 20pt;
    font-weight: bold;
    display: flexbox block;
    
    
  }
  img{
    width: 150px;
  }

  h2{
    margin-bottom: 40px;
  }
  a{
    color: #bbaeae;
  }
  p{
    margin-top: 10px;
  }

  ::placeholder{
    font-size: 12pt;
    position: relative;
    left: 1px;
  }

  button{
    padding: 7px 18px;
    font-size: 10px;
    background-color:rgb(53, 104, 158);
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    cursor: pointer;
    font-size: 12pt;
    margin-bottom: 10px;
}
button:hover{
    background-color: white;
    color: rgb(53, 104, 158);
    border: 2px solid rgb(53, 104, 158);
    

}
  input{
    position: relative;
    left: 1px;
  }

  @media only screen and (min-width: 600px){
   
    .container{
      margin-top: 40px;
    }
    .login{
      padding: 60px;
    }

  }

  @media only screen and (max-width: 600px){
    .container{
      margin-top: 40px;
    }
    .login{
      padding: 15px;
    }
    .loginUS, .loginS{
      margin-left: 8px;
    }

  }